<div id='link_{{index}}'>
  <div class="control-group string optional">
    <div class="controls">
      <input class="string optional" id="user_links_attributes_{{index}}_name" name="user[links_attributes][{{index}}][name]" placeholder="Name" size="50" type="text">
    </div>
  </div>
  <div class="control-group url optional">
    <div class="controls">
      <input class="string url optional" id="user_links_attributes_{{index}}_url" name="user[links_attributes][{{index}}][url]" placeholder="http://url.com" size="50" type="url">
    </div>
  </div>
</div>
