.user-description {
  margin-top: 10px;
}
.user-description {
  width: 500px;
}
form {
  width: 500px;
  textarea {
    width: auto;
  }
}
.talent-type, .skills {
  overflow: hidden;
  .design, .development, .other {
    margin: 10px 0;
    overflow: hidden;
    clear: both;
  }
  .other label {
    line-height: 25px;
  }
  input {
    float: right;
  }
  label {
    float: left;
    margin-right: 5px;
  }
  .controls {
    float: left;
  }
  span {
    float: left;
    margin-right: 10px;
  }
}
.location {
  overflow: hidden;
  margin-bottom: 10px;
  .control-group {
    float: left;
  }
  .states {
    float: left;
    margin-top: 23px;
    select {
      margin-left: 13px;
      width: 75px;
    }
  }
}

form .links {
  span {
    margin-right: 10px;
  }
}
.user-description {
  p.skills, p.links {
    margin-bottom: 0;
  }
  p.no-contact {
    color: #0074CC;
  }
}

h2 {
  margin-bottom: 30px;
  clear: both;
}
#twitter {
  float: left;
}
#facebook {
  float: left;
  margin-left: 23px;
  margin-top: 5px;
}
