.user-description {
  margin-top: 10px;
}
form {
  textarea {
    width: auto;
  }
}
.talent-type, .listings {
  overflow: hidden;
  input {
    float: right;
  }
  label {
    float: left;
    margin-right: 5px;
  }
  .controls {
    float: left;
  }
  span {
    float: left;
    margin-right: 10px;
  }
}
